services:

  api:
    build: .
    command: uv run uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    command: uv run celery -A worker.tasks worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
  redis:
    image: "redis:7"
    ports:
      - "6379:6379"